
@{
    ViewData["Title"] = "Movie List";
}

<h2>My Movie List</h2>
<div class="row">
    <div class="col-md-4">
        <p>Hello from our View Template</p>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>


